<div class="example-container">

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="side" opened>
      <div fxLayout="column">
        <h3 fxLayoutAlign="center center">ZL</h3>
        <button mat-raised-button>Music</button>
        <button mat-raised-button>Videos</button>
        <button mat-raised-button>Downloads</button>
        <button mat-raised-button>Settings</button>
        <button mat-raised-button>Facebook Sign in</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card>
        <button mat-raised-button (click)=snav.toggle()>Menu</button>
        <div *ngIf="!!fileSource">
          <audio autoplay [src]="fileSource"></audio>
        </div>
        

      </mat-card>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


